@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");

.card-wrapper {
	background-color: rgb(240, 226, 226);
	text-align: center;
	width: 15rem;
	border-radius: 0.5rem;
	box-shadow: 2px 2px 3px #aaa;
	cursor: pointer;
	margin: 0.5rem 1rem;
	padding: 0.5rem;
	font-family: "Song Myung", serif;
	.card-img {
		width: 100%;
	}
	transition: transform 333ms ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}
