
.card-wrapper{
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 0 #ccc;

    margin: 0.5rem 1rem;
    padding: 0.5rem;

    .card-img {
        width: 100%;
    }
    transition: transform 333ms ease-in-out;
    &:hover {
        transform: scale(1.1);
        
    }

}



