
.card-wrapper{
    background-color: rgb(240, 226, 226);
    text-align: center;
    width: 15rem;
    border-radius: 0.5rem;
    box-shadow: 15px 5px grey;
    cursor: pointer;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    .card-img {
        width: 100%;
    }
    transition: transform 333ms ease-in-out;
    &:hover {
        transform: scale(1.1);
    }

}



