.sound-player-container{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    // line-height:200%;
    // .sound-player{
    //     border: solid orange 3px;
    //     height: 70%;
    //     width: 20%;
    //     img{
    //         border-radius: 15px;
    //         width: 100%;
    //         height: 80%;
    //         border: green solid 3px;   
    //     }
    // }
    .media-player{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
        border:solid 3px yellow;
        
    }
    .song-list{
        border: solid black 3px;
        p{
            cursor: pointer;
        }
    }
    .sound-player{
        width: 100%;
        border: green solid 3px;
        min-width: 300px;
    }

    // @media only screen and (max-width: 1300px) {
    //     .sound-player{
    //         width: 30%;
    //     }

// }
}