.sound-player-container{
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    .media-player{
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
    }
    // .album-image{
    //     opacity: 0.7;
    //     max-width: 400px;
    // }
    .song-list{
        background-color: #00000044;
    }
    .sound-player{
        width: 100%;
        min-width: 300px;
    }

    .song-row {
        color: white;
        background-color: #00000044;
        padding: 1rem 0.5rem;
        cursor: pointer;

        &.active {
            color: rgb(17, 163, 17);
        }
        &:hover{
            background-color: #ffffff25;
        }
    }
}