.input-container {
	margin-top: 25px;
	display: flex;
	.search {
		margin: 0 auto;
		&:focus {
			transition: all 200ms ease-in;
			outline: none;
			background-color: white;
			color: black;
		}
	}
}
