.input-container {
    display: flex;
    .search {
        margin: 0 auto;
        // width: 30%;
        &:focus {
            transition: all 200ms ease-in;
            outline: none;
            background-color: white;
            color: black;
        }
    }
}